<br>
<h3>Edit Advertisement</h3>
<div class="card">
  <div class="card-body">
    <form [formGroup]="carForm" novalidate>

        <div class="form-group">
          <label class="mr-sm-2" for="brandId">Brand</label>
          <select class="custom-select mr-sm-2" id="brandId" formControlName="brandId" required [(ngModel)]="car.brandId" #id [(ngModel)] = "car.brandId" name="brandId">
            <option *ngFor="let brand of brands | async" value="{{brand.id}}">{{brand.brandTitle}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="col-md-4">Car model</label>
          <input type="text" class="form-control" formControlName="carModel"  #carModel [(ngModel)] = "car.carModel" name="carModel">
        </div>
        <div *ngIf="carForm.controls['carModel'].invalid && (carForm.controls['carModel'].dirty || carForm.controls['carModel'].touched)" class="alert alert-danger">
          <div *ngIf="carForm.controls['carModel'].errors.required">
            Car model is required.
          </div>
        </div>

        <div class="form-group">
          <label class="mr-sm-2" for="typeTransmission">Transmission</label>
          <select class="custom-select mr-sm-2" id="typeTransmission" formControlName="typeTransmission" required [(ngModel)]="car.typeTransmission" #id [(ngModel)] = "car.typeTransmission" name="typeTransmission">
            <option *ngFor="let type of typeTransmissionValues" value="{{type[0]}}">{{type[1]}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="mr-sm-2" for="typeEngine">Engine</label>
          <select class="custom-select mr-sm-2" id="typeEngine" formControlName="typeEngine" required [(ngModel)]="car.typeEngine" #id [(ngModel)] = "car.typeEngine" name="typeEngine">
            <option *ngFor="let type of typeEngineValues" value="{{type[0]}}">{{type[1]}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="col-md-4">Car mileage</label>
          <input type="text" class="form-control" formControlName="carMileage"  #carMileage [(ngModel)] = "car.carMileage" name="carMileage">
        </div>
        <div *ngIf="carForm.controls['carMileage'].invalid && (carForm.controls['carMileage'].dirty || carForm.controls['carMileage'].touched)" class="alert alert-danger">
          <div *ngIf="carForm.controls['carMileage'].errors.required">
            Car mileage is required.
          </div>
          <div *ngIf="carForm.controls['carMileage'].errors.pattern">
            Car mileage must be a integer number.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4">Country</label>
          <input type="text" class="form-control" formControlName="countryLocation" #countryLocation [(ngModel)] = "car.countryLocation" name="countryLocation">
        </div>
        <div *ngIf="carForm.controls['countryLocation'].invalid && (carForm.controls['countryLocation'].dirty || carForm.controls['countryLocation'].touched)" class="alert alert-danger">
          <div *ngIf="carForm.controls['countryLocation'].errors.required">
            Country is required.
          </div>
          <div *ngIf="carForm.controls['countryLocation'].errors.pattern">
            Country must contain only letters.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4">City</label>
          <input type="text" class="form-control" formControlName="cityLocation" #cityLocation [(ngModel)] = "car.cityLocation" name="cityLocation">
        </div>
        <div *ngIf="carForm.controls['cityLocation'].invalid && (carForm.controls['cityLocation'].dirty || carForm.controls['cityLocation'].touched)" class="alert alert-danger">
          <div *ngIf="carForm.controls['cityLocation'].errors.required">
            City is required.
          </div>
          <div *ngIf="carForm.controls['cityLocation'].errors.pattern">
            City must contain only letters.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4">Car cost</label>
          <input type="text" class="form-control" formControlName="carCost" #carCost [(ngModel)] = "car.carCost" name="carCost">
        </div>
        <div *ngIf="carForm.controls['carCost'].invalid && (carForm.controls['carCost'].dirty || carForm.controls['carCost'].touched)" class="alert alert-danger">
          <div *ngIf="carForm.controls['carCost'].errors.required">
            Car cost is required.
          </div>
          <div *ngIf="carForm.controls['carCost'].errors.pattern">
            Car cost must be a number.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4">Car status</label>
          <input type="text" class="form-control" formControlName="carStatus" #carStatus [(ngModel)] = "car.carStatus" name="carStatus">
        </div>
        <div *ngIf="carForm.controls['carStatus'].invalid && (carForm.controls['carStatus'].dirty || carForm.controls['carStatus'].touched)" class="alert alert-danger">
          <div *ngIf="carForm.controls['carStatus'].errors.required">
            Car status is required.
          </div>
          <div *ngIf="carForm.controls['carStatus'].errors.maxlength">
            Car status is very long.
          </div>
        </div>

        <div class="form-group">
          <label for="carImage">Image: </label>
          <br>
          <input type="file" id="carImage" (change)="handleImageInput($event.target.files)">
        </div>

    <div class="form-group">
      <button type="button" (click)="updateCar()" [disabled]="(carForm.invalid || !rightTypeFile)"  class="btn btn-primary">Update</button>
    </div>
    </form>
  </div>
</div>
