<div class="container">
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <ul class="navbar-nav">

      <li *ngIf="isUserLoggedIn" class="nav-item">
        <a routerLink="cars" class="nav-link" role="button" routerLinkActive="active">Advertisements</a>
      </li>

      <li *ngIf="!isUserLoggedIn" class="nav-item" style="margin-left: 10px;">
        <a routerLink="login" class="nav-link" role="button" routerLinkActive="active">Login</a>
      </li>

      <li *ngIf="!isUserLoggedIn" class="nav-item" style="margin-left: 10px;">
        <a routerLink="registration" class="nav-link" role="button" routerLinkActive="active">Registration</a>
      </li>

      <li *ngIf="isUserLoggedIn" class="nav-item" style="margin-left: 10px;">
        <a (click)="logout()" routerLink="" class="nav-link" role="button" routerLinkActive="active">Logout</a>
      </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
